* {
    box-sizing: border-box;
}

body {
    margin: 0;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
    text-align: center;

    background: linear-gradient(135deg, #ff758c, #ff7eb3, #ffd1dc);
}

.container {
    width: 90%;
    max-width: 430px;
    padding: 35px 25px;
    border-radius: 30px;

    background: rgba(255,255,255,0.25);
    backdrop-filter: blur(12px);

    box-shadow: 0 15px 40px rgba(0,0,0,0.2);
}

.couple {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    margin-bottom: 15px;
}

.boy,
.girl {
    font-size: 75px;
    animation: bounce 2s infinite;
}

.girl {
    animation-delay: .3s;
}

.heart {
    font-size: 35px;
    animation: beat 1s infinite;
}

h1 {
    color: white;
    font-size: 34px;
    margin: 10px 0;
    text-shadow: 2px 3px 8px rgba(0,0,0,.25);
}

.text {
    color: white;
    font-size: 17px;
}

.btn {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 25px;
}

button {
    border: none;
    padding: 13px 28px;
    border-radius: 30px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
}

button:first-child {
    background: #ff0066;
    color: white;
    box-shadow: 0 6px 15px rgba(255,0,102,.4);
}

#noBtn {
    background: white;
    color: #ff0066;
}

.bottom {
    color: white;
    margin-top: 25px;
    font-size: 13px;
}

.hearts {
    position: fixed;
    top: 15px;
    left: 0;
    width: 100%;
    font-size: 25px;
    word-spacing: 25px;
    animation: float 3s infinite;
}

@keyframes beat {
    50% {
        transform: scale(1.4);
    }
}

@keyframes bounce {
    50% {
        transform: translateY(-10px);
    }
}

@keyframes float {
    50% {
        transform: translateY(15px);
    }
}
