body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #ff9a9e, #fad0c4);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    text-align: center;
}

h1 {
    font-size: 35px;
    color: white;
}

.gif {
    width: 200px;
}

.btn {
    margin-top: 20px;
}

button {
    padding: 12px 25px;
    font-size: 18px;
    margin: 10px;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    transform: scale(1.1);
}

#noBtn {
    position: relative;
    background-color: #ff4d4d;
    color: white;
}

button:first-child {
    background-color: #4CAF50;
    color: white;
}
